<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <!-- Twitter card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:image" content="{% if page.image.feature %}{{ page.image.feature | prepend: site.baseurl_hero| prepend: site.url }}{% else %}{{ site.icon | prepend: site.baseurl | prepend: site.url }}{% endif %}">
  <meta name="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <!-- Open graph -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}">
  <meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <meta property="og:image" content="{% if page.image.feature %}{{ page.image.feature | prepend: site.baseurl_hero | prepend: site.url }}{% else %}{{ site.icon | prepend: site.baseurl | prepend: site.url }}{% endif %}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:locale" content="{{ site.locale }}">
  {% if page.date %}
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
  {% endif %}
  {% if page.categories %}
    {% for category in page.categories limit:1 %}
    <meta property="article:section" content="{{ category }}">
    {% endfor %}
  {% endif %}
  {% if page.tags %}
    {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}">
    {% endfor %}
  {% endif %}

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/main.css">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Righteous&display=swap&family=Source+Serif+Pro:wght@300;400;600&display=swap" rel="stylesheet">

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ site.baseurl }}assets/images/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">

</head>
